*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-image: url(https://img.freepik.com/vetores-gratis/padrao-de-linha-verde-neon-em-fundo-escuro_53876-99009.jpg?w=740&t=st=1665952201~exp=1665952801~hmac=f3c3844bc7bc3828ffedb7faf3ac22f237ee33c90f49a26d89f70080bbe1e6b9);
   
    background-position: inherit;
    background-size: cover;
    
    font-family: 'VT323' , monospace;
    color: #F3F3F3;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 350px;
    border: 2px solid #51de23;
    border-radius: 10px;
    overflow: hidden;
}

.abas img{
    width: 30px;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 4px solid #51de23;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;

}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .conteudo .abas{
    display: flex;

}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
   
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
    border-top: 2px solid #51de23;
    transition: 0.5 ease-in-out;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px
}

.informacoes-abas .descricao span{
    color: aqua;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.redes-sociais li a{
    display: block;
    background-color: #070d12;
    border-radius: 5px;
    border: 1px solid #51de23;
    width: 250px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 20px;

}
